*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-font: roboto, sans-serif;
    --secondary-font: raleway, sans-serif;
    --secondary-button-color: #F5F4FA;
    --border-color: #EEEEEE;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --footer-bg-color: #2f303a;

    --primary-text-color: #757575;
    --secondary-text-color: #ffffff;
    --title-text-color: #212121;

    --logo-white-color: #ffffff;
    --logo-blask-color: #212121;
    --hover-button-color: #188CE8;
    --accent-color: #2196f3;
    --footer-link-bg: rgba(255, 255, 255, 0.1);
    --social-network-fill: #AFB1B8;
    --footer-address-color:rgba(255, 255, 255, 0.6);
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*main*/


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}
img {
  display: block;
  min-width: 100%;
}


body {
    font-family: var(--main-font);
    color: var(--primary-text-color);
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-whatwedo {
padding-bottom: 94px;
}

.conteiner {
    width: 1200px;
    padding: 0 15px;
    margin: auto;
  
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.link {
    text-decoration: none;
}

.list {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.pages {
    font-family: var(--main-font);
    background-color: var(--primary-bg-color);
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-size: 26px;
    text-decoration: none;
}

.logo-header {
color: var(--logo-blask-color);
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
 margin-right: 93px;
}

.logo-footer {
    color: var(--logo-white-color);
}

.logo-accent {
    color: var(--accent-color);
}

/*----------Site naw----------*/
.page-header {
    border-bottom: 1px solid #ececec;
}

.main-nav {
    display: flex;
    align-items: center;
}
.nav-menu .nav-link {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;
	position: relative;
	transition-property: color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}

.current::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--accent-color);
}
.nav-menu .nav-link:hover,
.nav-menu .nav-link:focus {
  color: var(--accent-color);
  outline: none;

}

.nav-menu .nav-link:hover::after,
.nav-menu .nav-link:focus::after {
  opacity: 1;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-list {
  display: flex;
  margin: auto;
}
.nav-list:last-child {
    margin-right: 0;
  }
  .contact .item {
    display: flex;
    margin-right: 50px;
    align-items: center;
  }
.info-item{
    display: inline-block;
    vertical-align: middle;
}
.info-list .info-item {
    display: flex;
    margin-right: 50px;
    align-items: center;
}
.info-item:last-child {
    margin-right: 0;
}
.info-list .info-link {
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    align-items: center;
  display: flex;
  transition-property: color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
  }
  .info-list .info-link:focus,
  .info-list .info-link:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
  }   
.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    text-decoration: none;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
    transition-property: color;
	transition-duration: var(--transition-rule);
	transition-timing-function: var(--transition-rule);
  transition: color var(--transition-rule);
}

.nav-link.current {
    color: var(--accent-color);
}
.info-list {
    display: flex;
    margin-left: auto;
}

.info-item:not(:last-child) {
    margin-right: 50px;
}

.info-link {
    /* background-color: tomato; */
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.info-link:hover,
.info-link:focus {
    color: var(--accent-color);
    transition-property: color;
	transition-duration: var(--transition-rule);
	transition-timing-function: var(--transition-rule);
  transition: color var(--transition-rule);
}
.icon-tel {
    width:10px; 
    height:16px;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
  .icon-mail {
    width:16px;
    height:12px;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
  /* hero */

.address {
    margin-top: 20px;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.address-link.info {
    color: rgba(255, 255, 255, 0.6);
}

/* index.html */

/* hero */
.hero.section {
    text-align: center;
    padding: 200px 0;
    max-width: 1600px;
    background-color: var(--bgc-hero);
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../img/bckgrImg.jpg);
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.hero-content {
    text-align: center;
}

.hero-title {
    /* padding-bottom: 20px; */
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    font-size: 44px;
}

.hero-button {
    margin-top: 30px;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    transition-property: background-color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hover-button-color);
    cursor: pointer;

}
/* modal  */
.modal-close {
	position: absolute;
	bottom: 100%;
	left: 100%;
	transform: translate(-130%, 130%);
	background-color: var(--logo-white-color);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.close {
  margin: 8px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-function),
  visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	background-color: var(--primary-bg-color);
	padding: 40px;
	min-width: 528px;
	min-height: 581px;
	border-radius: 4px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	transition-property: transform;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}

/* advantage */

.box-icons {
   position: relative;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bg-color);
    text-align: center;
    margin-bottom: 30px;
    border-radius: 4px;
}
  
.skill-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70px;
  height: 70px;
}
  
.advantage-list {

    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.advantage-item {
    margin-left: 15px;
    margin-right: 15px;
    flex-basis: calc((100% - 120px) / 4);
}

.advantage-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.advantage-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.about-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.works-item-title {
	width: 100%;
	height: 70px;
	padding: 27px 0;
	position: absolute;
  font-size: 14;
	left: 0;
	bottom: 0;
	color: var(--logo-white-color);
	font-weight: 700;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	background-color: rgba(47, 48, 58, 0.8);
}
.about-list {
    display: flex;
    flex-wrap: wrap;
}
.about-item {
  position: relative;
}
.about-item:not(:last-child) {
    margin-right: 30px;
}

/* team */
 .team-section {
    display: flex;
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: var(--secondary-bg-color);
    margin-bottom: 0;
}
.team-section ul {
display: flex; 
flex-direction: row;
padding-left: 0;

}

.team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-list {
    display: flex;
   
}
.team-box {
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: var(--logo-white-color);
   border-radius: 2px ;
}
 
.team-item {

    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    display: inline-block;
    flex-direction: row;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
    margin: 0 10px 0 0;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-name {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.team-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}
.list-social-networks {
    display: flex;
    justify-content: center;
}
  
.command-item {
    margin-right: 10px;
}
  
.command-item:nth-child(4n) {
    margin-right: 0;
}
  
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  transition-property: background-color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}
.social-link:focus,
.social-link:hover {
background-color: var(--accent-color);
}
.social-link:focus .social-network,
.social-link:hover .social-network {
    fill: var(--secondary-text-color); 
    transition-property: color;
	transition-duration: var(--transition-rule);
	transition-timing-function: var(--transition-rule);
  transition: color var(--transition-rule);
   
}
  
.social-network {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--social-network-fill);
    transition-property: fill;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
   
}
 /* Наши постоянные клиенты  */
.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  padding-left: 0;
  align-items: center;
}

.client {
  margin-right: 30px;
}

.client:nth-child(6n) {
  margin-right: 0px;
}

.client-link {
  display: block;
  position: relative;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  transition-property: border;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);

}

.client-link:focus .client-icon,
.client-link:hover .client-icon {
  fill: var(--accent-color);
}
.client-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 106px;
  height: 60px;
  fill: var(--secondary-bg-color);
  fill: #afb1b8;
  transition-property: fill;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}

/*footer*/
footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-box {
    display: flex;
  }
  
  .footer-logo {
    margin-bottom: 20px;
    display: inline-block;
    color: var(--secondary-text-color);
  }
  .address > p,
  .address > a {
    color: var(--footer-address-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    display: block;
  }
  
  .address > p {
    margin-bottom: 9px;
    color: var(--secondary-text-color);
  }
  
  .mail {
    margin-bottom: 9px;
  }
 
  
  .footer-list-box {
    margin-left: 70px;
    padding-top: 12px;
  }
  
  .footer-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-bg-color);
    margin-bottom: 20px;
  }
  
  .footer-list {
    display: flex;
    padding-left: 0;
  }
  
  .footer-item {
    margin-right: 10px;
  }
  
  .footer-item:nth-child(4n) {
    margin-right: 0px;
  }
  
  .footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    background-color:var(--footer-link-bg);
  }
  
  .footer-social-link:nth-child(4n) {
    margin-right: 0px;
  }
  
  .footer-social-link:focus,
  .footer-social-link:hover {
    background-color: var(--accent-color);
    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
  
  .footer-social-network {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--secondary-bg-color);
  }
  
/* filter */

.filter-section {
    padding-bottom: 94px;
    padding-top: 94px;
}
.filter {
    text-align: center;
}

.filter-button {
    display: inline-block;
    border: 0px;
    border-radius: 4px;
    padding: 6px 22px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);
    cursor: pointer;
    transition: color var(--transition-duration) var(--transition-timing-function),
		background-color var(--transition-duration) var(--transition-timing-function),
		box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter-button:focus,
.filter-button:hover {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    cursor: pointer;

}

.filter-button:not(:last-child) {
    margin-right: 4px;

}

.filter-list {
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item {
    margin: 4px;
    border-bottom: var(--primary-text-color);
    cursor: pointer;
}

/* project*/

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.filtered-activity-item {
  position: relative;
  flex-basis:calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
  width: 370px;
  height: 404px;
  border: 1px solid var(--color-border-items);
  box-sizing: border-box;
  box-shadow: 0.1px;
  border: 1px solid var(--border-color);
  transition: box-shadow var(--transition-rule);
}
.filtered-activity-item:hover,
.filtered-activity-item:focus {
  box-shadow:
  0 1px 4px rgba(0, 0, 0, 0.16),
  0 0 4px  rgba(0, 0, 0, 0.06),
  0 0 1px rgba(0, 0, 0, 0.12);
  transition-property: color;
	transition-duration: var(--transition-rule);
	transition-timing-function: var(--transition-rule);
  transition: color var(--transition-rule);
}
.filter-link {
  text-decoration: none;
}
.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.project-box {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px ;
 overflow: hidden;
}

.project-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/* Blue overlay portfolio filter */
.filtered-activity-group {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
  cursor: pointer;
}
.filtered-activity-cover {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: var(--transition-duration) ;
}
.filtered-activity-cover-overlay {
  padding: 63px 24px;
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.filtered-activity-item:hover .filtered-activity-cover{
  transform: translateY(0);
  opacity: 1;
}
